.main-page {
  background-image: url('../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.achievement {
  $size: 100px;
  position: absolute;
  left: 113px;
  bottom: 139px;
  background-color: #d10a11;
  width: $size;
  height: $size;
  border-radius: $size/2;
  text-align: center;
  color: white;
  padding: 20px;

  .ecolog-group {
    height: 1em;
    width: 1em;
    background-image: url('../../assets/images/achievements/egolog-group.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
  }
}

.label {
  font-size: 0.7em;
}

.value {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 8px;
}
