@import '../../styles/vars.scss';

.main-page {
  background-image: url('../../assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.achievement {
  $size: 100px;
  position: absolute;
  left: 113px;
  bottom: 139px;
  background-color: $coop-red;
  width: $size;
  height: $size;
  border-radius: $size/2;
  text-align: center;
  color: white;
  padding: 20px;

  .ecolog-group {
    height: 1em;
    width: 1em;
    display: inline-block;
  }
}

.label {
  font-size: 0.6em;
}

.value {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 8px;
}

.buttons-pane {
  width: 100%;
  position: absolute;
  bottom: 40px;
  .round {
    $size: 40px;
    width: $size;
    height: $size;
    border-color: $coop-dark-red;
    border-width: 1px;
    border-style: solid;
    border-radius: $size/2;
    background-color: rgba($color: $coop-red, $alpha: 0.5);
    display: inline-block;
    margin: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
  }
}
